

@font-face{
    font-family: Courier-PS-Bold;
    src: url('Courier-PS-Bold.ttf') format('truetype');
}

*{
    font-family: Courier-PS-Bold, Arial;
    margin: 0px;
    padding: 0px;
    
}


#container{
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background-image: linear-gradient( 60deg, #070c9b, #477DB2, #74e7f1);
    color: white;
    text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.473);
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#conteudo{
    align-items: center;
    padding: 0px 55px 0px 15px;
}

#one{
        position: absolute;
		top: 85px;
		left: 50px;
		height: 40px;
		width: 25px;
		border-radius: 3px;
		background: #fff;
		transform: rotate(50deg);
        box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
}

#one2{
        z-index: 10;
        position: absolute;
        top: 83px;
		left: 68px;
		height: 139px;
		width: 30px;
		border-radius: 3px;
		background: #fff;
		box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
}

#zero1, #zero2{
    position: absolute;
    box-sizing: border-box;
    height: 139px;
    width: 139px;
    border-radius: 50%;
    border: 30px solid #fff;
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
} 

#zero1{
        
        top: 83px;
		left: 95px;
        z-index: 8;
}

#zero2{
    position: absolute;
    top: 83px;
    left: 212px;
}




h2{
    margin-top: 205px;
    font-size: 120px;
    margin-left: 45px;
   
}
p{
    letter-spacing: 1px;
    font-size: 32px;
    margin-top: -45px;
    margin-left: 40px;
    
}